.section {
    padding: 94px 0;
}

.section--centred {
    text-align: center;
}

.section--with-bottom-padding {
    padding-bottom: 47px;
    text-align: center;
}

.section--with-top-padding {
    padding-top: 47px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}