.section__our-team {
    text-align: center;
    background-color: var(--background-grey-color);
}

.cards {
    display: flex;
    color: var(--primary-text-color);
}

.cards__item {
    width: calc((100% - 3*30px) / 4);
    margin-right: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.cards__item:nth-child(4n) {
    margin-right: 0;
}

.cards__photo {
    display: block;
    width: 100%;
}

.cards__headling {
    margin-top: 30px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.cards__text {
    margin-top: 10px;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}